.droppable-panel {
  padding: 10px;
  min-height: 100px;
  position: relative;
  transition: background-color 0.3s ease;
}

.droppable-panel.panel-hover {
  background-color: rgba(
    100,
    149,
    237,
    0.2
  ); /* Light blue background when hovering */
}

.draggable-card {
  transition: transform 0.2s ease;
}

.draggable-card.dragging {
  transform: scale(1.05); /* Slightly enlarge the card while dragging */
  opacity: 0.8; /* Make the card slightly transparent */
}
